################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloDart/.vs/HelloDart
/HelloDart/packages
/HelloDart/.vs/config
/HelloDart/HelloDart/obj/Debug
/HelloDart/HelloDart/bin/Debug
